@import "./abstract/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid"; 
@import "~bootstrap/scss/utilities";
@import "./base/reset";
@import '../../../node_modules/bootstrap/scss/bootstrap';

@import "./themes/theme";
@include mat-core();
@include angular-material-theme($my-theme);

@import "./layout/portlet";
@import "./components/buttons";
@import "./components/tooltips";

body { 
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  margin: 0;
}

html, body {
  height: 100%
}