$link-color: #3f51b5;
$link-hover-color: currentColor;
$link-hover-decoration: none;
$label-margin-bottom: 0;

$grid-breakpoints: (
  xs: 0,      // handset portrait (small, medium, large) | handset landscape (small)
  sm: 600px,  // handset landscape (medium, large) | tablet portrait(small, large)
  md: 960px,  // tablet landscape (small, large)
  lg: 1280px, // laptops and desktops
  xl: 1600px  // large desktops
);

$container-max-widths: (
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1600px
);

$icon-font-path: '../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';



// prosegur theme color
$psg-yellow: #f8d434;
$psg-grey: #e9e9e9;
$psg-sub-color: rgba(0, 0, 0, 0.54);
// sidenav 
$psg-sidenav-bkg-color: #e8eaea;
// menu 
$menu-container-color: #333;
$menu-item-hover-color: #000;
$menu-item-hover-bkg-color: #ececec;
// footer
$footer-bkg-color: $psg-yellow;
// portlet
$portlet-color: #f8f9fa;
// buttons
$button-color: #333;
$button-bkg-color: $psg-yellow;
// toolbar
$toolbar-bkg-color: $psg-yellow;
$toolbar-hover-btn: #f1df8e;


