@import "../../../assets/scss/abstract/variables";

.footer {
  background-color: $footer-bkg-color;
  height: 40px;
}

.logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}