//
// custom form field controls
// 
mat-form-field.mat-form-field {
  font-size: 15px;
}

//
// form controls: select
//
.mat-checkbox-layout .mat-checkbox-label {
  font-size: 14px;
}

//
// buttons & indicators: button
//
.psg-mat-btn.mat-raised-button {
  background-color: $button-bkg-color;
  color: $button-color;
}

.psg-mat-btn.mat-mini-fab {
  background-color: $button-bkg-color;
  color: $button-color;
}
