<div class="container">
  <div class="row d-flex">
    <mat-card class="scoring-card">
      <div class="container">
        <div [ngClass]="{ 'row' : true, 'd-flex': true, 'flex-column': smallerWP }">
          <div [ngClass]="{ 'scoring-input' : true, 'flex-grow-1': !smallerWP }">
            <mat-form-field class="select-form-field">
              <mat-label>Indicador deuda Equifax</mat-label>
              <mat-select>
                <mat-option *ngFor="let option of options" [value]="option.value">
                  {{option.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="scoring-info d-flex">
            <div [ngClass]="{ 'help': true, 'flex-grow-1': smallerWP }">
              <mat-icon class="help-icon" ngbTooltip="Indicador de deuda asociado al Score Equifax." triggers="click:blur"
                placement="{{placement}}" tooltipClass="psg-tooltip">help_outline</mat-icon>
            </div>
            <div class="flex-row info">
              <div><span>Peso (%)</span></div>
              <div><span>{{weight}}</span></div>
            </div>
            <div class="flex-row score">
              <div><span>Score</span></div>
              <div><span>{{score}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card class="scoring-card">
      <div class="container">
        <div [ngClass]="{ 'row' : true, 'd-flex': true, 'flex-column': smallerWP }">
          <div [ngClass]="{ 'scoring-input' : true, 'flex-grow-1': !smallerWP }">
            <mat-form-field class="select-form-field">
              <mat-label>Indicador deuda Equifax</mat-label>
              <mat-select>
                <mat-option *ngFor="let option of options" [value]="option.value">
                  {{option.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="scoring-info d-flex">
            <div [ngClass]="{ 'help': true, 'flex-grow-1': smallerWP }">
              <mat-icon class="help-icon" ngbTooltip="Indicador de deuda asociado al Score Equifax." triggers="click:blur"
                placement="{{placement}}" tooltipClass="psg-tooltip">help_outline</mat-icon>
            </div>
            <div class="flex-row info">
              <div><span>Peso (%)</span></div>
              <div><span>{{weight}}</span></div>
            </div>
            <div class="flex-row score">
              <div><span>Score</span></div>
              <div><span>{{score}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>