.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  margin-bottom: 40px;
}

.sidenav-content {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 80px;
}

#sidenav-menu {
  margin-right: 10px;
}

.mat-list-base {
  padding: 0px;
}






// TODO: add to card component sccs
.user-card.mat-card {
  padding: 15px 10px 0px 10px;
  box-shadow: none;
}

.user-card.mat-card .mat-card-header .mat-card-title {
  font-size: 16px;
}
