.psg-breadcrumb-container {
  width: 100%;
  color: #333;
}

.align-items-center {
  align-items: center;
}

.psg-breadcrumb {
  height: 50px;
  font-size: 13px;
}

.home {
  font-size: 14px;
  margin: 10px 5px 10px 15px;
}

.arrow {
  margin-top: 2px;
  margin-left: 5px;
}

.psg-breadcrumb-item {
  margin-left: 5px;
}

.header {
  margin-left: 15px;
  margin-top: 8px;
}
