@import '../../../../assets/scss/abstract/variables';

.sidenav-container {
  height: 100%;
  background-color: $psg-sidenav-bkg-color;
}

.sidenav {
  width: 300px;
  margin-bottom: 40px;
  border-right: none;
}

.sidenav-content {
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 80px;
}

#sidenav-menu {
  margin-right: 10px;
}

.mat-list-base {
  padding: 0px;
}
